#header, .res-nightmode #header {
    min-height: 150px !important; /*Tweak to give a nice height for image to be seen, be conservative*/
    background: #000000 url('%%headerImage%%') no-repeat scroll !important; /*Tweak as per requirements*/
    background-size: auto 100% !important;
    margin-bottom: 10px !important;
}

div.content {
    margin-left: 10px !important;
}

.side {
    margin: 0px !important;
}

.side .md p, .side .md ul, .side .md ol {
    font-size: 11pt;
}

.link .midcol {
    margin: 10px 5px 0 !important;
}

.usertext-edit, .usertext-edit textarea  {
    width: 100% !important;
}

.comment-visits-box {
    max-width: 100% !important; /* needed to override */
    width: 97% !important;
}

.entry > .flat-list li a,
.entry > .flat-list .redditSingleClick,
.entry > .flat-list li a,
.entry > .flat-list .redditSingleClick,
.entry.RES-keyNav-activeElement .flat-list li a,
.entry.RES-keyNav-activeElement .flat-list .redditSingleClick,
.noncollapsed > .flat-list li a {
    color: #777 !important;
}

.entry .flat-list li a.comments {
    color: #144ddd !important;
}

.entry ul.flat-list li a[onclick*='reply']:hover,
.entry.RES-keyNav-activeElement ul.flat-list li a[onclick*='reply'] {
    border-color: #357ae8 !important;
    background-color: #5ba2fd;
    background-image: linear-gradient(#5ba2fd,#4b8adb) !important;
    color: #fff !important;
}

.md {
    max-width: 98% !important;
    width: 98% !important;
}

.md .-blocks, .md .-lists, .md pre, .md blockquote, .md table, .md p, .md ul, .md ol {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    line-height: 1.4em !important;
}

.side .md > blockquote a del {
    float: right;
    font-size: 12px;
    text-decoration: none;
}

.side .md > hr + h2 {
    color: #888;
    font-size: 13px;
    margin: 0px;
    text-transform: uppercase;
}

.side .md > hr + h2 + blockquote {
    margin-top: 0px;
}

.thumbnail.self, .thumbnail.default {
    display: block !important;
}

.titlebox .subscribers .number:after {
    content: " Seattleites";
}

.titlebox .users-online .number:after {
    content: " Seattleites online";
}

.sidebox.submit div.morelink a:hover:before,
.arrow.down:hover:before {
    background-color: #fef0f0;
    border-top: 1px solid #ff9185;
    bottom: 0;
    color: red;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    left: 0;
    line-height: 35px;
    padding: 5px 0;
    position: fixed;
    text-align: center;
    text-shadow:0 0px 0px #555;
    width: 100%;
    z-index: 1000;
}

.sidebox.submit div.morelink a:hover:before {
    content: "Please read the FAQ and RULES before submitting to /r/Seattle - thank you!";
}

.arrow.down:hover:before {
    content:"Please downvote only comments & posts that do not add to the discussion. It is not an 'I disagree' button.";
}
