@media screen and (max-width: 1050px) {
	body { 
		display: flex;
		flex-direction: column;
	}

	#search input[type="text"] {
		width: 100% !important;
	}

	.content { 
		order: 1;
	}

	.side {
		order: 2; width: inherit !important;
	}
	
	.side div.sidebox.create {
		bottom: 126px;
		width: 230px !important;
	}
	 
	.side * { 
		width: inherit !important;
	}
  
	.side .spacer {
	}
  
	.footer-parent {
		order: 3;
	}
  
	.debuginfo {
		order: 4;
	}
}
