.linkflair-Meetups .linkflairlabel {
    background-color: #add5ab;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}

.linkflair-Crime .linkflairlabel {
    background-color: #add5ab;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}

.linkflair-Government .linkflairlabel {
    background-color: #add5ab;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}

.linkflair-News .linkflairlabel {
    background-color: #add5ab;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}

.linkflair-Advice .linkflairlabel {
    background-color: #add5ab;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}

.linkflair-History .linkflairlabel {
    background-color: #add5ab;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
